/* Estilos generales */
body {
  font-family: inherit;
  margin: auto;
  padding: auto;
  }
  
  /* Encabezado */
  .header {
    background-color: #f2f2f2;
    height: 5px;
  }
  
  /* Contenedor de botones */
  .button-container {
    display: auto;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .button-container button {
    background-color: #1C1364;
    color: white;
    border: #3AB24F;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px; 
  }
  
  /* Contenedor de botones adicionales */
  .button-container1{
      margin-top: 0.5px;
      padding: 10px 50px;
      text-align: 10%;
      
  }
  .button-container2 {
    margin-top: 20px;
  }
  
  /* Registro de usuario */
  .button-container1 button {
    background-color: #1C1364;
    color: white;
    border: #3AB24F;
  }
  
  /* Menú de ingresos */
  .medical-record {
    margin-top: 30px;
  }
  
  .medical-record h2 {
    font-size: 24px;
  }
  
  .medical-record form {
    margin-top: 20px;
  }
  
  .medical-record label {
    display: block;
    margin-top: 10px;
    float: left; 
    clear: left; 
    width: 150px; 
  }
  
  .medical-record textarea {
    width: calc(100% - 160px); 
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    background-color:  #3AB24F;
    ;
  }
  
  /* Antecedentes médicos */
  .medical-history {
    margin-top: 30px;
  }
  
  .medical-history h3 {
    font-size: 18px;
  }
  
  .medical-history form {
    margin-top: 20px;
  }
  
  .medical-history label {
    display: block;
    margin-top: 10px;
    float: left; 
    clear: left; 
    width: 150px; 
  }
  
  .medical-history textarea {
    width: calc(100% - 160px); 
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    background-color:  #3AB24F;
    ;
  }
  
  /* Botón de registro de ingreso */
  .button-container2 button {
    background-color : #1C1364;
    color: white;
    border: 150px #3AB24F;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 12px; 
  }
  
  
  